@import './base.css';

#app {
  background-color: rgba(236, 224, 201, 0.934);
  max-width: 1280px;
  margin: 4rem;
  padding: 4rem;
  font-weight: normal;
  border-radius: 4rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.511);
}

a,
.green {
  text-decoration: none;
  color: rgb(39, 114, 85);
  transition: 0.4s;
  padding: 3px;
}

@media (prefers-color-scheme: dark) {
  #app {
    background-color: rgba(22, 24, 23, 0.934);
  }

  .green {
    color: rgb(195, 221, 218);
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 4rem;
  }
}
